[Desktop Entry]
Type=Application
Name=dailyfold
Exec=dailyfold
TryExec=dailyfold
Icon=dailyfold
StartupWMClass=dailyfold
Terminal=false
Categories=Office;
Keywords=Journal;Notes;Outliner;
